// Colores
$color-background: beige;
$color-text: #333;
$color-header-bg: #7d5a4f;
$color-header-text: beige;
$color-hover: #a68a74;
$color-footer-bg: #7d5a4f;
$color-footer-text: beige;
$color-border: #3e2923;
$color-tour: #3e2923;
$color-lightgray: lightgray;

// Fuente de Folklore sacada de googlefonts
$font-family-main: "IM Fell DW Pica", serif;

// Tamaños
$font-size-body: 25px;
$font-size-h2: 30px;
$padding-header: 10px;
$padding-footer: 20px;
$padding-hover: 10px;
